# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

*-backups

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
board/chrimbus2022-backups/chrimbus2022-2022-11-14_124046.zip
board/chrimbus2022-backups/chrimbus2022-2022-11-13_120900.zip
board/chrimbus2022-backups/chrimbus2022-2022-11-14_121411.zip
